* {
    box-sizing: border-box;
}

html {
    background: #E5E7EB;
}

body {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.dark-mode {
    background: #1F2937;
    color: #E5E7EB;
}
/* ********************************************
        Global Navigation Content 
******************************************** */

.global-nav {
    z-index: 100;
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    height: 58px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: saturate(180%) blur(16px);
    backdrop-filter: saturate(180%) blur(16px);
}

.global-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.global-nav .nav-logo {
    margin: auto auto auto 15%;
}

.global-nav .nav-logo span {
    color: #fff;
}

.global-nav .menu-wrapper {
    margin: auto 15% auto auto;
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .global-nav.stickied {
        -webkit-backdrop-filter: saturate(180%) blur(16px);
        backdrop-filter: saturate(180%) blur(16px);
    }
}

/* ********************************************
            Navigation Links 
******************************************** */

/* Clearfix */
.nav-links:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

#nav-items {
    display: flex;
    list-style: none;
    position: relative;
}

#nav-items a {
    color: #bbb;
    text-decoration: none;
    float: left;
    padding: 0 20px;
}

#nav-items li {
    display: inline-block;
}

#nav-items a:hover {
    color: #fff;
}

#magic-line {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 50%;
    height: 2px;
    background: orange;
}

.active a {
    color: orange !important;
}

/* ********************************************
            Main Content 
******************************************** */

.main {
    display: block;
}

.root-body {
    position: relative;
    z-index: 1;
}

/* ********************************************
            Hero Content 
******************************************** */

.section-wrapper {
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: #fff;
}

#section-heros {
    background-color: #000;
    overflow: hidden;
    height: 100vh;
}

.heros {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
}

.hero {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 35%;
    z-index: 1;
    color: #fff;
    text-shadow: 2px 2px 6px rgba(51,51,51,.6);
}

.hero-content h1 {
    font-size: 40px;
    font-weight: 700;
}

.hero-content p {
    font-size: 64px;
    font-weight: 900;
}

.hero-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    background-color: rgba(255, 166, 0, 0.85);
    padding: 20px;
    width: 300px;
    border-radius: 50px;
}


/* ********************************************
            Products Content 
******************************************** */

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.products h1 {
    margin-bottom: 40px;
}

.products .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.products .container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 400px;
    border: 2px solid orange;
    border-radius: 12px;
    /* font */
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    text-shadow: 2px 2px 6px rgba(51,51,51,.6);
}

.kitchen-card {
    background: url("/img/unsplash/sidekix-media-oCw5_evbWyI-unsplash.jpg") center no-repeat;
}

.bath-card {
    background: url("/img/unsplash/sidekix-media-g51F6-WYzyU-unsplash.jpg") center no-repeat;
}

.countertops-card {
    background: url("/img/unsplash/christian-mackie-cc0Gg3BegjE-unsplash.jpg") center no-repeat;
}

.flooring-card {
    background: url("/img/unsplash/ralph-darabos-ccydTEH5x7E-unsplash.jpg") center no-repeat;
}

.kitchen-card, .bath-card, .countertops-card, .flooring-card {
    background-size: cover;
}


/* ********************************************
            Block Content 
******************************************** */

.block {
    background: transparent url("/img/unsplash/spacejoy-9M66C_w_ToM-unsplash.jpg") center 0 fixed no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: 20vh;
}

/* ********************************************
            Testimonials Content 
******************************************** */

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.testimonials h1 {
    font-weight: 700;
    margin-bottom: 40px;
}

.testimonials .container {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.yelp-review {
    margin: 10px !important;
}

/* ********************************************
            CTA & Contact Content 
******************************************** */

/* ********************************************
            Footer Content 
******************************************** */

.footer {
    position: relative;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 0 40px;
}

.footer .copyright {
    color: #fff;
    font-size: 12px;
}

.footer .links a {
    color: #bbb;
    text-decoration: none;
    font-weight: 100;
}

.footer .links a:hover {
    text-decoration: underline;
}

.main-footer-content .link-wrapper-lr-10n {
    font-weight: 700;
    margin: 0 -10px;
    flex-wrap: wrap;
}

.main-footer-content .link-wrapper-lr-10n .links {
    margin: 0;
    flex-wrap: wrap;
}

.main-footer-content .link-wrapper-lr-10n .links a {
    margin: 10px;
    font-weight: 400;
}

.main-footer-content .margin-wrapper-tb-10, .main-footer-content .container {
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 100%;
}

.main-footer-content .margin-wrapper-tb-10 {
    margin: 10px 0;
}

/* ********************************************
            Aside Content 
******************************************** */

.aside {
    position: absolute;
    top: 70px;
    right: 70px;
    flex-shrink: 0;
}

.aside .color-scheme-toggle {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    border: 1px solid orange;
    border-radius: 12px;
    display: inline-flex;
    padding: 1px;
}

.aside [role="radiogroup"]:focus {
    outline: none;
}

.aside input[type="radio"] {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    appearance: none;
}

.aside input[type="radio"]:checked+.text {
    color: #fff;
    background: orange;
    border-color: orange;
}

.aside .text {
    box-sizing: border-box;
    display: inline-block;
    padding: 1px 6px;
    min-width: 42px;
    border: 1px solid transparent;
    border-radius: 12px;
    text-align: center;
    color: orange;
}